.gcontainer {
    &_center-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        &w350 {
            width: 350px;
        }
    }
    label {
        color: #fff;
    }
}

.backgroundImg {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.boxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: auto;
}